@font-face{
	font-family: Roboto-Mono;
	src: url('../fonts/RobotoMono-Regular.ttf');
	
}

:root{
	--background-color: #16161a;
	--heading-color: #fffffe;
	--p-color: #94a1b2;
	--section-bg: #242629;
	--card-bg:#010101;
	--border-color: #fff5;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::selection{
	background-color: #ccc5;
}

body{
	background-color: var(--background-color);
	font-family: 'Roboto-Mono', sans-serif;
}
.toggle{
	--heading-color: #0d1b2a;
	--background-color: #f8f9fa;
	--p-color: #333;
	--section-bg: #dee2e6;
	--card-bg: #eee;
	--border-color: #5555;
}
h1,h2,h3,h4,h5{
	color: var(--heading-color);
}
p{
	color: var(--p-color);
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 100vh;
}
.header__btn-toggle{
	position: fixed;
	width: fit-content;
	top: 5px;
	left: 5px;
	right: 0;
	font-size: 2rem;
	color: var(--p-color);
	background-color: transparent;
	cursor: pointer;
	border-radius: 100%;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}
.header__types{
	display: inline-block;
	height: auto;
	color: var(--heading-color);
	text-align: center;
}
.header__types.size-2{
	height: 20%;
}
.header__title{
	display: inline;
	text-align: center;
	margin: 1rem;
	font-size: 3rem;

}
.size-3{
	font-size: 3rem;
}
.size-2{
	font-size: 2rem;
}
.header__subtitle{
	display: inline;
	font-size: 2rem;
	margin: 1rem 0;
	
}
.header__img{
	aspect-ratio: 1/1;
	width: 100px;
	border-radius: 100%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	pointer-events: none;
	user-select: none;
}

.section-jobs{
	height: 100%;
	padding: 1rem;
	background-color: var(--section-bg);
}
.section{
	height: 100%;
	padding: 1rem;
	background-color: var(--section-bg);
}
.section-alt{
	height: 100%;
	padding: 1rem;
	/*background-color: #242629;*/
}
.section__title{
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
}
.section__p{
	width: 100%;
	text-align: center;
	order: 1;
	margin: 1rem 0;
}
.about__me__content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;

}
.about__me__extra{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	color: #94a1b2;
}
.about__me__img{
	aspect-ratio: 9/16;
	width: 50%;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.projects{
	margin-top: 2rem;
	display: flex;
	
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}
.projects__card{
	text-align: center;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	background-color: var(--card-bg);
	width: 400px;
}
.projects__card__img{
	max-width: 100%;
	height: auto;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.projects__card__img:hover{
	transform: scale(1.05);
}
.projects__card__title{

	margin: 1rem;
	text-align: center;
}
.projects__card__used{
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.projects__card__button{
	display: block;
	background-color: #7f5af0;
	margin-top: 1rem;
	padding: 1rem;
	border:transparent;
	border-radius: 20px;
	cursor: pointer;
	color: #fffffe;
	font-size: 1rem;
	text-decoration: none;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.social-icons{
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: auto;
	flex-wrap: wrap;
	gap:2rem;
	/*background-color: #16161a;*/
}
.social-icons a{
	text-decoration: none;
	text-align: center;
}
.social-icons__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social-icons__icon{
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	border: 1px solid var(--border-color);
	padding: 1rem;
	width: 300px;
	transition: all 0.3s ease;
}
.social-icons__icon:hover{
	background-color: var(--background-color);
	transform: scale(1.1);
}
.social-icons-black{
	color: #ccc;

}
.sized{
	font-size: 2rem;
	max-width: 70%;
}
.sized-img{
	width: 3rem;
}
.sized-img-icon{
	width: 2rem;
	height: auto;
}
.color-btn{
	color: #7f5af0;
}
.color-red{
	color: #f00;
}
.footer{
	height: 100%;
	padding: 1rem;
	background-color: var(--section-bg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.section__title-footer{
	width: 100%;
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0;
}
@media (min-width:370px) and (min-height:700px){
	.section{
		height: 100vh;
	}
}
@media (min-width:600px){
	.footer{
		height: 100vh;
	}
	.projects{
		flex-direction: row;
		gap: 1rem;
	}
	.projects__card{
		width: 400px;

	}
	.section__p{
		width: 50%;
	}
	.about__me__content{
		flex-direction: row;
		justify-content: center;
	}
	.about__me__img{
		max-width: 250px;
	}
	.sized{
		font-size: 3rem;
	}
	.sized-img-icon{
		width: 3rem;
	}
	.section{
		height: 100vh;
	}
	.section-jobs{
		height: 100%;
	}
	.social-icons{
		flex-direction: row;
		justify-content: space-around;
	}
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;
  font-family: sans-serif;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (prefers-color-scheme: light) {
  // detect OS-configured light-mode and apply rules
}

@media (prefers-color-scheme: dark) {
  // detect OS-configured dark-mode and apply rules
}